body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  min-height: 100vh;
  background: linear-gradient(rgba(9, 9, 240, 0.5), rgba(17, 2, 58, 0.5));
}

.header {
  background: linear-gradient(rgb(64, 64, 197), rgb(54, 17, 156));
  color: #fff;
}

.game-title {
  text-align: center;
  font-size: 40px;
  padding: 20px 0;
}

.tip {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 300px;
  font-size: 24px;
}

.score-wrap {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.present-score, .best-score{
  font-size: 26px;
}

.present-score {
  margin-right: 50px;
}

.cards-wrap {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.cards__item {
  width: 230px;
  height: 190px;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  position: relative;
}

.cards__item:hover {
  opacity: 0.8;
}

.cards__text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 180px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

@media screen and (max-width: 1601px) {

  .cards-wrap {
    width: 90%;
  }
}

@media screen and (max-width: 1535px) {

  .cards__item {
    width: 210px;
    height: 165px;
  }
 
  .cards__text {
    font-size: 44px;
    line-height: 165px;
  }
}

@media screen and (max-width: 1320px) {

  .container {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1050px) {

  .game-title {
    font-size: 36px;
  }

  .tip {
    position: inherit;
    text-align: center;
    margin: 0 auto;
    width: auto;
    font-size: 20px;
    padding-bottom: 20px;
  }

  .score-wrap {
    padding: 0 0 20px 0;
  }

  .present-score, .best-score {
    font-size: 24px;
  }

  .cards-wrap {
    width: 90%;
    padding: 0;
  }
}

@media screen and (max-width: 775px) {

  .cards__item {
    width: 180px;
    height: 140px;
  }
 
  .cards__text {
    line-height: 140px;
  }
}

@media screen and (max-width: 450px) {

  .tip {
    width: 90%;
  }

  .cards__item {
    width: 140px;
    height: 120px;
  }
 
  .cards__text {
    font-size: 30px;
    line-height: 118px;
  }
}